<%- include("layouts/header") %>
    <main class="container mt-4">
        <h1 class="mb-5">Form Ubah Kontak</h1>

        <div>
            <form method="POST" action="/contact?_method=PUT">
                <input type="hidden" name="nama" value="<%= contact.nama %>">
                <div class="mb-3">
                    <label for="nama" class="form-label">Nama</label>
                    <input type="text" class="form-control" id="nama" name="nama" value="<%= contact.nama %>" required>
                </div>
                <div class="mb-3">
                    <label for="nohp" class="form-label">No Hp</label>
                    <input type="text" class="form-control" id="nohp" name="nohp" value="<%= contact.nohp %>" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= contact.email %>"
                        required>
                </div>

                <button type="submit" class="btn btn-primary">Ubah data</button>
            </form>
        </div>
    </main>
    <%- include("layouts/footer") %>